.cn-links-character {
    cursor: pointer;
}

#cn-links-popup {
    --popup-bg: #ffffff;
    --popup-text: #222222;
    --translation-text: #777777;

    position: fixed;
    transform: translateX(-50%);

    padding: 8px 12px;
    border-radius: 6px;

    font-size: 24px;

    white-space: pre-line;

    z-index: 999999;
    pointer-events: none;

    background: var(--popup-bg);
    color: var(--popup-text);

    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.nightMode #cn-links-popup {
    --popup-bg: #2f2f2f;
    --popup-text: #eeeeee;
    --translation-text: #aaaaaa;
}

.cn-links-translation {
    color: var(--translation-text);
}

.cn-links-result {
    display: grid;
    grid-template-columns: 150px auto;
    column-gap: 20px;

    padding: 4px 8px;

    border-left: 4px solid transparent;
}

.cn-links-result[data-knowledge="new"] {
    border-left-color: #e74c3c;
}

.cn-links-result[data-knowledge="learning"] {
    border-left-color: #f39c12;
}

.cn-links-result[data-knowledge="mature"] {
    border-left-color: #2ecc71;
}

.cn-links-word {
    text-align: left;
    font-size: 24px;
}

.cn-links-translation {
    text-align: left;
    font-size: 16px;
    color: #aaa;
}