.cn-links-character {
    cursor: pointer;
}


#cn-links-popup {
    position: fixed;

    transform: translateX(-50%);

    background: #222;
    color: white;

    padding: 8px 12px;
    border-radius: 6px;

    font-size: 24px;

    z-index: 999999;

    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);

    pointer-events: none;
}